.homePage {
    position: fixed;
    left: 5px;
    right: 5px;
    top: 300px;
    text-align: center;
}

.homePage-bigger-h1 {
    font-size: 50px;
}

.tooltip-wrap {
    position: relative;
}
.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
    display: block;
}
